{% extends 'signup/layout.html' %}
{% block body %}
<head>
        <style type="text/css">
            td,th
            {
                padding:0 15px 0 15px;
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
            }
            table{
                border-collapse: separate;
                border-spacing: 5px;
            }
            </style>
</head>
    <body>
        <form method="post" enctype="multipart/form-data" action="cmplt">
            {% csrf_token %}
        <table>
            <tr>
                <th>NAME</th>
                <th>     </th>
                <th>TYPE</th>
                <th>     </th>
                <th>PRICE</th>
                
                <th>QUANTITY</th>
            </tr>
            {% for item in list %}
            
            <tr>
                <td>{{item.name}}</td>
                <th>     </th>
                <td>{{item.typeof}}</td>
                <th>     </th>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
            </tr>
            
            {% endfor %}
        </table>
        <pre>

            
        </pre>
        Total value:{{total}}
        
        Transaction Id:{{id}}
        <br>
        <pre>     
        <h2>Fill the following details to send a email</h2>
        Username:            <input type="text" name="uname"><br>
        YOUR MAIL:           <input type="email" name="from"><br>
        Transaction Id:      <input type="text" name="id" value="{{id}}"><br>
        Bill:                <input type="text" name="bill" value="{{total}}"><br><br>
        Date:                <input type="date" name="date" min="{{mind}}" max="{{maxd}}">
        <button class="btn btn-lg btn-primary btn-block" style="width: 250px" type="submit" value="submit">confirm</button>
        </pre>
        </form>
    </body>
</html>  
{% endblock %}