{% extends 'signup/layout.html' %}
{% block body %}
<head>
        <style type="text/css">
            td,th
            {
                padding:0 15px 0 15px;
                text-align: center;
                text-transform: uppercase;
                font-size: 18px;
            }
            table{
                border-collapse: separate;
                border-spacing: 5px;
            }
            </style>
</head>
    <body style="align-content: center;">
        <centre>
        <form method="post" enctype="multipart/form-data" action="cartp">
        {% csrf_token %}
        <pre>
            
        </pre>
        <b style="font-size: 20px;">BREAKFAST</b>
        <div name="breakfast" id='bf'>
        <pre>
        </pre>
            <table>
                <tr>
                    <th>IMAGE</th>
                    <th>ITEM NAME</th>
                    <th>    </th>
                    <th>PRICE</th>
                    <th>    </th>
                    <th>QUANTITY</th>
                </tr>
                {% for i in bf %}
                <tr>
                    <td><img style="height:42mm;width:42mm" src="{{i.img.url}}"></td>
                    <td>{{ i.name}}</td>
                    <td>    </td>
                    <td>{{i.price}}</td>
                    <td>    </td>
                    <td><input type="number" name="{{i.name}}" maxlength="1" value="0" style="width: 50px;"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <pre>
        </pre>
        <b style="font-size: 20px;">LUNCH</b>
        <pre>
        </pre>
        <div name="lunch" id='lch' >
            <table>
                <tr>
                    <th>IMAGE</th>
                    <th>ITEM NAME</th>
                    <th>    </th>
                    <th>PRICE</th>
                    <td>    </td>
                    <th>QUANTITY</th>
                </tr>
                {% for i in lch %}
                <tr>
                    <td><img style="height:42mm;width:42mm" src="{{i.img.url}}"></td>
                    <td>{{ i.name}}</td>
                    <td>    </td>
                    <td>{{i.price}}</td>
                    <td>    </td>
                    <td><input type="number" name="{{i.name}}" maxlength="1" value="0" style="width: 50px;"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <pre>
        </pre>
        <b style="font-size: 20px;">SNACKS</b>
        <pre>
        </pre>
        <div name="snamcks" id='sck'>
            <table>
                <tr>
                    <th>IMAGE</th>
                    <th>ITEM NAME</th>
                    <th>    </th>
                    <th>PRICE</th>
                    <td>    </td>
                    <th>QUANTITY</th>
                </tr>
                {% for i in sck %}
                <tr>
                    <td><img style="height:42mm;width:42mm" src="{{i.img.url}}"></td>
                    <td>{{ i.name}}</td>
                    <td>    </td>
                    <td>{{i.price}}</td>
                    <td>    </td>
                    <td><input type="number" name="{{i.name}}" maxlength="1" value="0" style="width: 50px;"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <pre>

        </pre>
        <input class="btn btn-lg btn-primary btn-block" style="width: 200px" type="submit" name="submit" value="ADD TO CART">
        </form>
        </centre>
    </body>
{% endblock %}